.introduction {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.introduction-body p {
  text-align: justify;
  text-justify: inter-word;
}

button.view-resume {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 6px 12px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
}

#profile-photo {
  margin-top: 20px;
  min-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 300px;
  background: url(../tanim.jpg) no-repeat;
  background-size: contain;
  order: -1;
}

#social {
  display: none;
}

#latest-work {
  display: none;
}

@media screen and (min-width: 425px) {
  #profile-photo {
    order: 0;
  }

  main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 600px) {

  main {
    width: 80%;
  }
  .introduction {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content:space-between;
    align-items: stretch;
  }
  .introduction-body {
    min-width: 60%;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  #profile-photo {
    margin-top: 80px;
    min-width: 40%;
    margin-right: auto;
    margin-left: auto;
  }
  #social {
    display: block;
  }

  #social ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  }

  #social li {
    margin: 5px 30px;
    padding: 0;

  }
  #social a {
    text-decoration: none;
    font-size: 1.5em;
  }

  #social a.facebook{
    color: #3b5998;
  }

  #social a.facebook > .fa + .fa,
  #social a.facebook:hover > .fa {
    display: none;
    color: #3b5998;
  }
  #social a.facebook:hover > .fa + .fa {
    display: inherit;

  }

  #social a.github{
    color: #4078c0;
  }

  #social a.github > .fa + .fa,
  #social a.github:hover > .fa {
    display: none;
    color: #000000;
  }
  #social a.github:hover > .fa + .fa {
    display: inherit;

  }


  #social a.twitter{
    color: #00aced;
  }

  #social a.twitter > .fa + .fa,
  #social a.twitter:hover > .fa {
    display: none;
    color: #00aced;
  }
  #social a.twitter:hover > .fa + .fa {
    display: inherit;

  }

  #social a.codepen{
    color: #00aced;
  }

  #social a.codepen > .fa + .fa,
  #social a.codepen:hover > .fa {
    display: none;
    color: #000000;
  }
  #social a.codepen:hover > .fa + .fa {
    display: inherit;
  }

  #social a.linkedin{
    color: #0077b5;
  }

  #social a.linkedin > .fa + .fa,
  #social a.linkedin:hover > .fa {
    display: none;
    color: #00aced;
  }
  #social a.linkedin:hover > .fa + .fa {
    display: inherit;
  }

  #latest-work {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
  }

  #latest-work h1 {
    font-size: 1.2em;
    margin-top: 20px;
    padding: 20px;
    color: #666;
  }

  #project,
  .latest-projects {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 1024px;
  }

  .portfolio_figure,
  .figure-body {
    background: url(../images/portfolio/selfiebd.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 16vw;
    border-radius: 10px;
  }

  .figure-body h1 {
    visibility: hidden;
  }

  #view-more p{
    position: relative;
    left: 100%;
  }

  #view-more a {
    text-decoration: none;
    color: #999;
    cursor: pointer;
  }


@media screen and (min-width: 1400px) {
  .figure-body {
    min-width: 100%;
    min-height: 13vw;
  }
}
