.introduction {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.introduction_body p,
.introduction_body h1 {
  text-align: left;
  line-height: 1.5em;
}

#profile_photo {
  margin-top: 20px;
  min-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 300px;
  background: url(../tanim.jpg) no-repeat;
  background-size: contain;
  order: -1;
}

#social {
  display: none;
}

#latest-work {
  display: none;
}

.latest-work h1{
  display: none;
}

@media screen and (min-width: 425px) {
  #profile_photo {
    order: 0;
  }
}


@media screen and (min-width: 600px) {

  main {
    width: 80%;
  }
  .introduction {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content:space-between;
    align-items: stretch;
  }
  .introduction_body {
    min-width: 60%;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  #profile_photo {
    margin-top: 80px;
    min-width: 40%;
    margin-right: auto;
    margin-left: auto;
  }

  #social {
    display: block;
  }

  #social ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  }

  #social li {
    margin: 5px 30px;
    padding: 0;

  }
  #social a {
    text-decoration: none;
    font-size: 1.5em;
  }

  #social a.github{
    color: #4078c0;
  }

  #social a.twitter{
    color: #00aced;
  }

  #social a.codepen{
    color: #00aced;
  }

  #social a.linkedin{
    color: #0077b5;
  }


  .latest-work  h1{
    display: block;
    font-size: 1.2em;
    margin-top: 20px;
    padding: 20px;
    color: #888;
    text-align: center;
  }

  .latest-projects {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 1024px;
  }


  .portfolio_figure,
  .figure_body {
    background: url(../images/portfolio/selfiebd.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 16vw;
    border-radius: 10px;
  }

  .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #337ab7;
    border-radius: 10px;
  }

  figcaption h1 {
    color: #000;
  }

  .figure_body h1 {
    visibility: hidden;
  }

  #view-more p{
    position: relative;
    left: 100%;
  }

  #view-more a {
    text-decoration: none;
    color: #888;
    cursor: pointer;
  }


@media screen and (min-width: 1400px) {
  .figure_body {
    min-width: 100%;
    min-height: 13vw;
  }
}
