#project {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1024px;
}

.portfolio_heading {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
  padding: 20px;
  color: #888;
}

@media screen and (min-width: 600px) {
  #project {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 1024px;
  }

  #latest-work {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 1024px;
  }

}
