---
layout: default
---
<!-- home page -->
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/portfolio.css">
</head>
<body>
<!--Default Navigation -->
<header>
  {% include nav.html %}
</header>
<main>
  <!-- page content -->
  <div class="introduction">
    {% include intro.html %}
  </div>
  <div id="social">
   {% include social.html %}
  </div>
  <div class="latest-work">
    <h1> Some of my Latest Work </h1>
    <div id="latest-work">


    </div>
  </div>
</main>
<!-- Default Footer -->
<footer>
  {% include footer.html %}
</footer>
