---
layout: default
---

<h1 id="heading" class="text-center" data-uk-scrollspy="{cls:'uk-animation-slide-top', repeat: false}"> Projects </h1>
<div id="project" class="container ">
	<div class="row">
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 " data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:900}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:1000}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:1100}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
	</div>
</div>
<div id="project" class="container ">
	<div class="row">
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 " data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:900}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:1000}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:1100}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
	</div>
</div>
<div id="project" class="container ">
	<div class="row">
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 " data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:900}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:1000}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:1100}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
	</div>
</div>
<div id="project" class="container ">
	<div class="row">
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 " data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:900}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:1000}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:1100}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
	</div>
</div>