
<!-- Contact Form -->

<form action="https://getsimpleform.com/messages?form_api_token=c4fea7cf0350f1daae1c55cd3f105d49"
      method="POST" id="contact-form" class="form-horizontal">

<!-- Full Name -->

    <div class="form-group">
        <label class="col-xs-3 control-label">Full name</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" name="firstName" placeholder="First name" />
        </div>
        <div class="col-xs-4">
            <input type="text" class="form-control" name="lastName" placeholder="Last name" />
        </div>
    </div>

<!-- Phone Number -->

    <div class="form-group">
        <label class="col-xs-3 control-label">Phone number</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="phoneNumber" />
        </div>
    </div>

<!-- Email address -->

    <div class="form-group">
        <label class="col-xs-3 control-label">Email address</label>
        <div class="col-xs-5">
            <input type="email" class="form-control" name="_replyto" />
        </div>
    </div>

<!-- Message -->

    <div class="form-group">
        <label class="col-xs-3 control-label">Message</label>
        <div class="col-xs-9">
            <textarea class="form-control" name="message" rows="7"></textarea>
        </div>
    </div>

<!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='https://tanimmahmud.github.io/portfolio/thank-you.html' />

    
<!-- submit button -->

    <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3">
            <button type="submit" class="btn btn-primary btn-contact" value="Send">Send Email</button>
        </div>
    </div>
</form> <!-- End Contact-form -->

    
   
