<ul class="contact_social">
	<li>
		<a target="_blank" class="linkedin" href="https://www.linkedin.com/in/tanim-mahmud-6172253b">
			<span class="linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span>
			Connect with me on LinkedIn
		</a>
	</li>
	<li>
		<a target="_blank" class="github" href="https://github.com/tanimmahmud">
			<span class="github"><i class="fa fa-github-square" aria-hidden="true"></i></span>
 			See my code on GitHub
		</a>
	</li>
	<li>
		<a target="_blank" class="twitter" href="https://twitter.com/TanimMahmud8">
			<span class="twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></span>
			Follow me on Twitter
		</a>
	</li>
	<li>
		<a target="_blank" class="codepen" href="https://codepen.io/tanimmahmud/">
			<span class="codepen"><i class="fa fa-codepen" aria-hidden="true"></i></span>
			View my projects on CodePen
		</a>
	</li>
</ul>
