
<!-- Contact Form -->
<div class="contact_form">
  <h1>Get in touch</h1>
  <form action="https://getsimpleform.com/messages?form_api_token=c4fea7cf0350f1daae1c55cd3f105d49"
        method="POST">

    <!-- Full Name -->
    <label for="name">Name</label>
    <input type="text" name="name" />
    <!-- Phone Number -->
    <label for="mobileNumber">Phone number</label>
    <input type="text" name="phoneNumber"/>
    <!-- Email address -->
    <label for="email">Email address</label>
    <input type="email" name="_replyto"/>
    <!-- Message -->
    <label for="message">Message</label>
    <textarea class="form-control" name="message"></textarea>

    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
    <input type='hidden' name='redirect_to' value='https://tanimmahmud.github.io/thanks/' />

    <!-- submit button -->
    <input type="submit" value="Send"></input>

  </form> <!-- End Contact-form -->

</div>
