<ul id="footer-nav">
    <li><a href="index.html">Home</a></li>
    <li><a href="portfolio.html">portfolio</a></li>
    <li><a href="blog.html">blog</a></li>
    <li><a href="contact.html">contact</a></li>
</ul>
<ul id="footer-social">
    <li ><a target="_blank" class="facebook" href="https://www.facebook.com/tanimmahmud08"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li ><a target="_blank" class="github" href="https://github.com/tanimmahmud"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li ><a target="_blank" class="twitter" href="https://twitter.com/TanimMahmud8"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li ><a target="_blank" class="codepen" href="https://codepen.io/tanimmahmud/"><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
    <li ><a target="_blank" class="linkedin" href="https://www.linkedin.com/in/tanim-mahmud-6172253b"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
</ul>
<p class="copyright">&copy; 2016 <a href="index.html"><span>Tanim Mahmud</span></a></p>
