<div class="introduction">
	<h1> Hello! </h1>
	<p><strong> My name is Tanim Mahmud. I am a Full stack Developer from Melbourne, Australia</strong> </p>
	<p> I studied to become a Civil Engineer but found my passion in coding and my hard work and dedication helps me to change my career. I love to solve difficult problems and accept challanges which will help me to push my limit.</p>
	<p>I am also a father of a beautiful girl named Isabela.</p>
	<a href="resume.html" target="_blank"><button class="view-resume"> View Resume <span><i class="fa fa-eye" aria-hidden="true"></i></span></button></a>
</div>
<div id="profile-photo">
	<!-- image -->
</div>
<div id="social">
	{% include social.html %}
</div>
