<div class="introduction_body">
	<h1> Hello! </h1>
	<p><strong> My name is Tanim Mahmud. I am a Junior Developer from Melbourne, Australia</strong> </p>
	<p> I studied to become a Civil Engineer but fall in love with coding while I was doing my 4th-year university research using MATLAB. It took me to my school days when I used to spend nights solving math challenges. I was missing those thrill nights. I really enjoy the joy of solving difficult problems.</p>
	<p>I am also a father of a beautiful girl named Isabela.My favourite past time is to play with her while I am at home. I am a big fan of Game of Thrones (as I know nothing!) and Friends (how you doing!). </p>
	<a href="/resume" target="_blank"><button class="view_resume"> View Resume <span><i class="fa fa-eye" aria-hidden="true"></i></span></button></a>
</div>
<div id="profile_photo">
<!-- image -->
</div>
