<div class="row">
	<div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2" data-uk-scrollspy="{cls:'uk-animation-slide-left', repeat: false, delay:700}">
		<div id="intro">
			<h1> Hello! </h1>
			<p> My name is Tanim Mahmud. I am a Full stack Developer from Melbourne, Australia </p>
			<p> I studied to become a Civil Engineer but found my passion in coding and my hard work and dedication helps me to change my career. I love to solve difficult problems and accept challanges which will help me to push my limit.</p> 
			<p>I am also a father of a beautiful girl named Isabela.</p>
			<div data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:1000}">
				<a href="#" download="Resume of Tanim Mahmud"><button class="btn btn-primary "> Download Resume <span><i class="fa fa-download" aria-hidden="true"></i></span></button></a>
				<a href="resume.html" target="_blank"><button class="btn btn-primary "> View Resume <span><i class="fa fa-eye" aria-hidden="true"></i></span></button></a>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2" data-uk-scrollspy="{cls:'uk-animation-slide-right', repeat: false, delay:800}">
		<div id="intro-photo" class="img-responsive img-rounded">

		</div>
		<div id="social" class="row">
			{% include social.html %}
		</div>
	</div>
</div>
