<div id="latest-work" class="container ">
	<h1 class="text-center" data-uk-scrollspy="{cls:'uk-animation-slide-left', repeat: false, delay:500}">Some of my Latest Projects </h1>
	<div class="row">
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 " data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:500}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:600}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
		<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:700}">
			<figure class="uk-overlay uk-overlay-hover">
    			{% include project-1.html %}
			</figure>
		</div>
	</div>
	<div id="view-more" class="container" data-uk-scrollspy="{cls:'uk-animation-slide-right', repeat: false, delay:1000}">
    	<a href="portfolio.html">View More Projects ..... </a>
  	</div>
</div>
