<nav>
  <div class="brand">
    <h1><a href="/home">Tanim Mahmud</a></h1>
    <button id="breadcrumb">&#9776;</button>
  </div>
  <ul class="navigation" id="nav">
    <li><a href="/home" class="{% if page.url == '/home/' %}current{% endif %}">Home</a></li>
    <li><a href="/resume" class="{% if page.url == '/resume/' %}current{% endif %}">Resume</a></li>
    <li><a href="/portfolio" class="{% if page.url == '/portfolio/' %}current{% endif %}">Portfolio</a></li>
    <li><a href="/blog" class="{% if page.url == '/blog/' %}current{% endif %}">Blog</a></li>
    <li><a href="/contact" class="{% if page.url == '/contact/' %}current{% endif %}">Contact</a></li>
  </ul>
</nav>
