<nav>
  <div class="brand">
    <h1><a href="index.html">Tanim Mahmud</a></h1>
    <button id="breadcrumb">&#9776;</button>
  </div>
  <ul class="navigation" id="nav">
    <li><a href="index.html" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="resume.html" class="{% if page.url == '/resume.html' %}current{% endif %}">Resume</a></li>
    <li><a href="portfolio.html" class="{% if page.url == '/portfolio.html' %}current{% endif %}">Portfolio</a></li>
    <li><a href="blog.html" class="{% if page.url == '/blog.html' %}current{% endif %}">Blog</a></li>
    <li><a href="contact.html" class="{% if page.url == '/contact.html' %}current{% endif %}">Contact</a></li>
  </ul>
</nav>
