
<!-- Resume for lg device -->
<div class="resume">
<!-- Resume Aside -->
	<div class="contact-details">
		<h1 class="text-center">Tanim Mahmud</h1>
		<h2 class="text-center">Full Stack Developer</h2>
		<a href="#" download="Resume of Tanim Mahmud"><button class="btn btn-danger download"> Download Resume <span><i class="fa fa-download" aria-hidden="true"></i></span></button></a>
		<ul class="list-unstyled text-center">
			<li ><span><i class="fa fa-envelope" aria-hidden="true"></i></span> tanimmahmud08@gmail.com</li>
			<li ><span><i class="fa fa-mobile" aria-hidden="true"></i></span> +61430808098</li>
			<li ><span><i class="fa fa-globe" aria-hidden="true"></i></span><a href="http://tanim.me" target="_blank">www.tanim.me</a></li>
			<li ><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> Melbourne, Australia</li>
		</ul>
<!-- </div> -->
	</div>
<!-- Resume Main section -->
	<main class="profile-details">
<!-- Profile -->
		<p class="profile">I am a young talented and energetic web developer. I have displayed my pair coding skills in free code camps fron end development course. I have developed efficient team work capabilities; working with cultural diverse teams. I have the initiative drive to succeed and I always take the innovative approach. Through my diploma degree in Software development, I have developed effective problem solving skills and thus I am prepared to take on significant responsibility early in my professional career.</p>
<!-- Skills -->
		<button class = "accordion">Skills <i class="fa fa-plus icon" aria-hidden="true"></i></button>
		<div class="content">
			<p>Tools that I have used:</p>
			<ul>
				<li>Html</li>
				<li>Css</li>
				<li>JavaScript</li>
				<li>Ruby</li>
				<li>Bootstrap</li>
			</ul>
		</div>
<!-- Education -->
		<button class = "accordion">Education<i class="fa fa-plus icon" aria-hidden="true"></i></button>
		<div class="content">
			<h1>Coder Factory Academy, Australia</h1>
			<h2>Diploma of Software Development</h2>
			<span><i class="fa fa-calendar" aria-hidden="true"></i> 2016 - 2017 </span>
			<h1>Rmit University, Melbourne, Australia</h1>
			<h2>Bachelor of Engineering (Civil and Infrastructure)</h2>
			<span><i class="fa fa-calendar" aria-hidden="true"></i> 2011 - 2013 </span>
			<h1>Rmit University, Melbourne, Australia</h1>
			<h2>Advance Diploma of Engineering Design (Civil)</h2>
			<span><i class="fa fa-calendar" aria-hidden="true"></i> 2009 - 2010 </span>
		</div>
<!-- Projects -->
		<button class = "accordion">Projects<i class="fa fa-plus icon" aria-hidden="true"></i></button>
		<div class="content">
			<h1>Classic Bangla Movie Archive</h1>
			<ul class="list-unstyled">
				<li><span><i class="fa fa-globe" aria-hidden="true"></i></span><a href="http://selfiebd.com" target="_blank"> www.selfiebd.com</a></li>
				<li><span><i class="fa fa-github" aria-hidden="true"></i></span><a href="https://github.com/tanimmahmud/selfie" target="_blank"> GitHub repository</a></li>
			</ul>
			<h2>Project Details:</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur, vel maxime maiores suscipit at animi corrupti accusamus, atque aperiam voluptatum earum quidem, odit quae consequuntur ipsa. Iste, sed, fuga!</p>
		</div>
		<button class = "accordion">Experiences<i class="fa fa-plus icon" aria-hidden="true"></i></button>
		<div class="content">
			<h1>Frelance Web Developer</h1>
			<a href="frelancer.com.au"><h2>Frelancer.com.au</h2></a>
		</div>
	</main> <!-- End Resume Main section -->
</div><!-- End Resume for lg device -->
