<ul>
	<li class="linkedin">
		<a target="_blank" class="linkedin" href="https://www.linkedin.com/in/tanim-mahmud-6172253b">
		<i class="fa fa-linkedin-square" aria-hidden="true"></i>
		</a>
	</li>
	<li class="github">
		<a target="_blank" class="github" href="https://github.com/tanimmahmud">
		<i class="fa fa-github-square" aria-hidden="true"></i>
		</a>
	</li>
	<li class="twitter">
		<a target="_blank" class="twitter" href="https://twitter.com/TanimMahmud8">
		<i class="fa fa-twitter-square" aria-hidden="true"></i>
		</a>
	</li>
	<li class="codepen">
		<a target="_blank" class="codepen" href="https://codepen.io/tanimmahmud/">
		<i class="fa fa-codepen" aria-hidden="true"></i>
		</a>
	</li>
</ul>
