<div class="col-md-2 col-sm-2 col-xs-2 facebook" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:1000}">
	<a target="_blank" class="facebook" href="https://www.facebook.com/tanimmahmud08">
	<i class="fa fa-facebook-square" aria-hidden="true"></i>
	<i class="fa fa-facebook" aria-hidden="true"></i>
	</a>
</div>
<div class="col-md-2 col-sm-2 col-xs-2 github" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:1100}">
	<a target="_blank" class="github" href="https://github.com/tanimmahmud">
	<i class="fa fa-github-square" aria-hidden="true"></i>
	<i class="fa fa-github" aria-hidden="true"></i>
	</a>
</div>
<div class="col-md-2 col-sm-2 col-xs-2 twitter" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:1200}">
	<a target="_blank" class="twitter" href="https://twitter.com/TanimMahmud8">
	<i class="fa fa-twitter-square" aria-hidden="true"></i>
	<i class="fa fa-twitter" aria-hidden="true"></i>
	</a>
</div>
<div class="col-md-2 col-sm-2 col-xs-2 codepen" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:1300}">
	<a target="_blank" class="codepen" href="https://codepen.io/tanimmahmud/">
	<i class="fa fa-codepen" aria-hidden="true"></i>
	<i class="fa fa-codepen" aria-hidden="true"></i>
	</a>
</div>
<div class="col-md-2 col-sm-2 col-xs-2 linkdin" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: false, delay:1400}">
	<a target="_blank" class="linkedin" href="https://www.linkedin.com/in/tanim-mahmud-6172253b">
	<i class="fa fa-linkedin-square" aria-hidden="true"></i>
	<i class="fa fa-linkedin" aria-hidden="true"></i>
	</a>
</div>
