<!doctype html>
<html lang="en">
	<head>
		<title> Tanim Mahmud - Junior Developer, Melbourne</title>
	    <meta charset="utf-8">
			<meta http-equiv="Cache-control" content="public">
			<meta http-equiv="X-UA-Compatible" content="ie=edge">
			<meta name="google-site-verification" content="OXp0f52lz7SqX5UWx0mV3XQpAPXq8Ybp-XykziRSOwM" />
			<meta name="author" content="Tanim Mahmud" />
		  <meta name="description" content="Melbourne based junior full-stack developer studying at Coder Factory Academy" />

		  <meta property="og:title" content="Tanim Mahmud">
		  <meta property="og:description" name="description" content="Melbourne based junior full-stack developer studying at Coder Factory Academy" />
		  <meta property="og:image" content="tanim.jpg" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="This is the portfolio website of Tanim Mahmud">
	<!-- favicon -->
			<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
			<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

	<!-- normalize -->
			<link rel="stylesheet" href="/css/normalize.min.css"/>
	<!-- fonts -->
			<link rel="stylesheet" href="/font_google/css/google_fonts.css">
			<!-- navigation -->
			<link rel="stylesheet" href="/css/navigation.css">
	<!-- font-awesome Css -->
	    <link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.min.css">
	<!-- footer -->
			<link rel="stylesheet" href="/css/footer.css">

		<!-- page content -->
		{{content}}

	<script type="text/javascript" src="/script/main.js"></script>

	</body>
</html>
